# Python (back-end)
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
.vscode/
.idea/
*.swp

# Dados e modelos
*.sqlite3
*.db
*.db-journal
*.joblib
*.h5
*.log
.DS_Store

# Arquivos de dados
data/*.csv

# Node/React (front-end)
front-end/node_modules/
front-end/dist/
front-end/.env
front-end/.next/
front-end/.turbo/
front-end/yarn.lock

# Log, temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SO
Thumbs.db
.DS_Store
